<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error 404 - Page not found</title>

	<!-- MansurTL.com site Open graph tags -->
	<meta name="title" content="Error 404 - Page not found">
	<meta name="description" content="">
	<meta name="image" content="https://www.mansurtl.com/frontend/assets/images/SEO/mtl-design-team.png">
	<meta name="keywords" content="">
	<meta name="author" content="MansurTL Altamirov">
	<meta name="google" content="notranslate">


	<!-- MansurTL.com site Open graph tags -->
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://www.mansurtl.com"/>
	<meta property="og:title" content="Error 404 - Page not found"/>
	<meta property="og:description" content=""/>
	<meta property="og:image" content="https://www.mansurtl.com/frontend/assets/images/SEO/mtl-design-team.png"/>

	
	<!-- MansurTL.com site Favicons -->
	<link rel="icon" href="https://www.mansurtl.com/frontend/assets/images/favicon-32x32.png?v=v1.7.0" type="image/png" sizes="32x32">
	<link rel="icon" href="https://www.mansurtl.com/frontend/assets/images/favicon-16x16.png?v=v1.7.0" type="image/png" sizes="16x16">

	<!-- **************************************************************************************** -->

	<link rel="stylesheet" href="https://www.mansurtl.com/frontend/assets/fonts/Inter/inter-fontfaces.css">
	<link rel="stylesheet" href="https://www.mansurtl.com/frontend/assets/css/vendor/bootstrapv5-0-2/bootstrapv5-0-2.css?v=v1.7.0">
	<link rel="stylesheet" href="https://www.mansurtl.com/frontend/assets/css/master.styles.css?v=v1.7.0">

	<script src="https://www.mansurtl.com/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
	<script src="https://www.mansurtl.com/frontend/assets/js/master.script.js?v=v1.7.0"></script>

	
	
	
			<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NPZTDVF7M1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-NPZTDVF7M1');
    </script>
  </head>
<body class="page-err404" data-page="err404" translate="no">
	<div class="mtl-container">
					<header class="header-section">
				<div class="section-block__offset">
					<div class="header-section__navbar">
						<div class="header-section__logo">
							<a href="https://www.mansurtl.com">
								<svg width="87" height="30" viewBox="0 0 87 30" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 0.102746H8.42466V29.8973H0V0.102746Z" fill="white"/>
									<path d="M10.4795 0.102736H18.9042V29.8973H10.4795V0.102736Z" fill="white"/>
									<path d="M20.959 0.102745H29.3836V29.8973H20.959V0.102745Z" fill="white"/>
									<path d="M38.9111 7.25071H31.4384V1.81198e-05H55.8905V7.25071H48.3764V29.7945H38.9111V7.25071Z" fill="white"/>
									<path d="M55.6805 0H65.0896V22.2834H75.8666V29.5048H55.6805V0Z" fill="white"/>
									<path d="M81.4491 30C80.1503 30 79.0588 29.5736 78.1745 28.7208C77.3179 27.8404 76.8896 26.7813 76.8896 25.5433C76.8896 24.3054 77.3179 23.26 78.1745 22.4072C79.0312 21.5543 80.1227 21.1279 81.4491 21.1279C82.7755 21.1279 83.8808 21.5543 84.7651 22.4072C85.6493 23.26 86.0915 24.3054 86.0915 25.5433C86.0915 26.7813 85.6493 27.8404 84.7651 28.7208C83.8808 29.5736 82.7755 30 81.4491 30Z" fill="white"/>
								</svg>
							</a>
						</div>
						<div class="header-section__links">
							<a href="https://www.mansurtl.com/home" class="">
								Home							</a>
							<a href="https://www.mansurtl.com/services" class="">
								Services							</a>

							<a href="https://www.behance.net/mansur_tl" target="_blank">
								Portfolio							</a>
							<a href="https://www.mansurtl.com/contacts" class="">
								Contacts							</a>
							<a href="https://www.mansurtl.com/download/colibri_sm" class="">
								ColibriSM v1.4.0							</a>
							<a href="#">/</a>
															<a href="https://www.mansurtl.com/language/russian">
									RU
								</a>
													</div>
						<div class="header-section__btns">
							<div class="header-section__menu-toggle" data-app="toggle-mobile-nav">
								<div class="menu-toggle-btn">
									<div class="menu-toggle-btn__line line_1"></div>
									<div class="menu-toggle-btn__line line_2"></div>
									<div class="menu-toggle-btn__line line_3"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
		
		<section class="section-block server-error-section">
	<div class="section-block__offset">
		<div class="content-block-offset">
			<div class="server-error">
				<div class="server-error__message">
					<h1>
						404
					</h1>
					<h3>
						Oops. Page not found!					</h3>
					<p>
						Looks like this page no longer exists.					</p>
				</div>
				<div class="server-error__ctrl">
					<a href="https://www.mansurtl.com">
						<div class="btn btn_outline btn_primary">
							Return to home page						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
					<footer class="footer-section">
				<div class="section-block__offset">
					<div class="footer-section__top">
						<div class="footer-section__logo ">
							<a href="https://www.mansurtl.com">
								<svg width="87" height="30" viewBox="0 0 87 30" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 0.102746H8.42466V29.8973H0V0.102746Z" fill="white"/>
									<path d="M10.4795 0.102736H18.9042V29.8973H10.4795V0.102736Z" fill="white"/>
									<path d="M20.959 0.102745H29.3836V29.8973H20.959V0.102745Z" fill="white"/>
									<path d="M38.9111 7.25071H31.4384V1.81198e-05H55.8905V7.25071H48.3764V29.7945H38.9111V7.25071Z" fill="white"/>
									<path d="M55.6805 0H65.0896V22.2834H75.8666V29.5048H55.6805V0Z" fill="white"/>
									<path d="M81.4491 30C80.1503 30 79.0588 29.5736 78.1745 28.7208C77.3179 27.8404 76.8896 26.7813 76.8896 25.5433C76.8896 24.3054 77.3179 23.26 78.1745 22.4072C79.0312 21.5543 80.1227 21.1279 81.4491 21.1279C82.7755 21.1279 83.8808 21.5543 84.7651 22.4072C85.6493 23.26 86.0915 24.3054 86.0915 25.5433C86.0915 26.7813 85.6493 27.8404 84.7651 28.7208C83.8808 29.5736 82.7755 30 81.4491 30Z" fill="white"/>
								</svg>
							</a>
						</div>

						<div class="footer-section__navbar navbar-1">
							<a href="https://www.mansurtl.com/home" class="">
								Home							</a>
							<a href="https://www.mansurtl.com/services" target="_blank">
								Services							</a>
							<a href="https://www.behance.net/mansur_tl" target="_blank">
								Portfolio							</a>
							<a href="https://www.mansurtl.com/items/colibri_sm" class="">
								ColibriSM v1.4.0							</a>
							<a href="https://www.mansurtl.com/contacts" class="">
								Contacts							</a>
						</div>
					</div>
					<div class="div-line"></div>
					<div class="footer-section__bot">
						<span>
							&copy; MansurTL.com 2023 All rights reserved						</span>	
						<a href="https://www.behance.net/mansur_tl" class="ml-auto" target="_blank">
							Behance
						</a>
						<a href="https://www.instagram.com/mansur_tl" target="_blank">
							Instagram
						</a>
					</div>
				</div>
			</footer>
		
		<div class="mobmenu-section" data-app="mobile-navbar">
	<div class="mobmenu-section__body">
		<div class="mobmenu-section__item">
			<a href="https://www.mansurtl.com/home" class="">
				Home			</a>
		</div>
		<div class="mobmenu-section__item">
			<a href="https://www.mansurtl.com/services" class="">
				Services			</a>
		</div>
		<div class="mobmenu-section__item">
			<a href="https://www.behance.net/mansur_tl" target="_blank">
				Portfolio			</a>
		</div>
		<div class="mobmenu-section__item">
			<a href="https://www.mansurtl.com/contacts" >
				Contacts			</a>
		</div>
		<div class="mobmenu-section__item">
			<a href="https://www.mansurtl.com/items/colibri_sm" >
				ColibriSM v1.4.0			</a>
		</div>
	</div>

	<div class="mobmenu-section__footer">
		<div class="mobmenu-section__footer-links">
			<a href="https://www.behance.net/mansur_tl" class="ml-auto" target="_blank">
				Behance
			</a>
			<a href="https://www.instagram.com/mansur_tl" target="_blank">
				Instagram
			</a>
			<a href="https://www.mansurtl.com/docs/mansurtl-privacy-policy.pdf">
				Privacy Policy			</a>
			<a href="https://www.mansurtl.com/docs/mansurtl-cookies-policy.pdf">
				Cookies			</a>
		</div>
		<div class="mobmenu-section__footer-language">
							<a href="https://www.mansurtl.com/language/russian">
					Переключиться на русский
				</a>
					</div>
		<div class="mobmenu-section__footer-copyright">
			<span>
				&copy; MansurTL.com 2023 All rights reserved			</span>
			<span>
				Developed by the MansurTL design team			</span>
		</div>
	</div>
</div>	</div>
				</body>
</html>